{% extends 'base.html' %}
{% load static %}
{% block content%}

    <div class="container">
        <h2>Create an Account</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
    </div>

{% endblock %}